header.bg-lsah {
  background-color: #8e0800;
}

.pull-left {
  max-width: 60%;
  float: left;
  padding-right: 1.5em;
}

.pull-right {
  max-width: 60%;
  float: right;
  padding-left: 1.5em;
}

.strike {
  text-decoration: line-through;
}

#store {
  img.item {
    height: 50%;
  }

  .new-merch img {
    height: 50%;
  }

  label {
    float:right;
  }

  input {
    display: inline-block;
    margin: 1rem;
    float: right;
  }
}
