<!DOCTYPE html>
<html lang="en" ng-app="LSAH">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="La Société Adrian Hands">
    <meta name="author" content="Ian Page Hands">
    <meta name="theme-color" content="#8E0800">

    <title>Adrian Hands Society</title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/flag-icon-css/flag-icon.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/vendor-keep/scrolling-nav.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-22281513-10"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-22281513-10');
    </script>
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">La Société Adrian Hands</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">&nbsp;</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#rules">Rules &amp; Regulations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#members">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#announcements">Announcements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#store">Store</a>
            </li>
          </ul>
        </div>
      </div>
      <img alt="NC Randonneurs" class="nc-logo" src="/images/nc-rando-logo_white.svg">
    </nav>

    <header class="main bg-lsah text-white">
      <div class="container text-center">
        <h1>Welcome to La Société Adrian Hands</h1>
        <p class="lead">
          Every ride should be enjoyed to its fullest
          <!--
              Don't Rush pure enjoyment
              Don't hurry awesome
            -->
        </p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About this page</h2>
            <p class="lead">
              The Société Adrian Hands recognizes those randonneurs and randonneuses who believe that every ride should be enjoyed to its fullest.
              Membership is not for the fleetest of foot but for those that savor every moment of the journey, often using the full allotment of allowed time.
            </p>
            <img class="pull-left" src="/images/aeh_sitting_1.jpg" alt="Adrian Hands Sitting">
            <div>
              <p>
                The society was created in 2009 in order to honor Adrian Hands and like-minded cyclists.
              </p>

              <p>
                A <a href="http://cycling.ahands.org">tireless bicycle advocate</a> and 2003 Paris Brest Paris Ancien, Adrian embodied the philosophy that every ride is an adventure.
                He traveled far and wide to pursue his love of randonneuring, including brevets in China and Bulgaria.
                He successfully completed PBP in 2003 with a time of 88:55. His <a href="http://cycling.ahands.org/pbp2003/fini.html">ride report</a> of that adventure stands as one of the best accounts ever of this legendary event.
              </p>

              <p>
                In 2005, Adrian was diagnosed with a neurodegenerative disorder, later determined to be <a href="http://www.alsa.org/">ALS (Amyotrophic Lateral Sclerosis)</a>,
                which caused him to lose a significant amount of upper extremity strength.
                In his characteristic joie de vivre, Adrian switched to a recumbent cycle and successfully qualified for PBP in 2007.
                Although he retired in Loudeac during the return trip from Brest in 2007 his courage, determination and adventurous spirit should inspire us all.
              </p>

              <p>
                Adrian "Yo A" Edgar Hands died of complications of ALS on February 3, 2011.
                Adrian will be dearly missed but his spirit carries on through his family, friends and La Société Adrian Hands.
              </p>
              <p>
                Membership is currently limited to PBP participants who successfully finished that grand event in Adrian's time or greater.
                For more information, see our <a href="#rules">Rules &amp; Regulations</a> page. Bonne route!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="rules" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Rules &amp; Regulations</h2>
            <p class="lead">
              Membership eligibility: Any cyclist who successfully completes PBP in a time equal to or greater than Hands' 2003 finish time of 88:55. A membership roll will be kept in the official records of La Société Adrian Hands.
            </p>

            <div>
              <img class="pull-right" data-src="/images/aeh_pbp_collage.jpg" alt="Adrian Hands PBP Collage">
              <p>
                <strong>Fee:</strong> There is no membership fee.
                Each member will be added to the <a href="#members">Great List</a>.
                Jerseys, t-shirts and caps are available for purchase through this website.
                See announcements page.
                Links will be provided through this site for those wishing to make donations in honor of Adrian.
                Organizations eligible for donations would include those dedicated to cycling advocacy and neurodegenerative medical research.
              </p>
              <p>
                <strong>Application requirements:</strong> La Société Adrian Hands applicants must supply PBP information (number, year & finish time) on the
                <a href="#apply" data-toggle="modal" data-target="#exampleModal">Application Form</a>.
              </p>

              <p>
                <strong>E-Mail Contact:</strong> <a href="mailto:jfende@gmail.com">Cap'n John Ende, President.</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="members">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Members</h2>
            <p class="lead">Members: La Société Adrian Hands</p>
            <table id="membersTable" class="table table-striped table-sm" ng-controller="TableListCrtl">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Country</th>
                  <th>Name</th>
                  <th>Year(s)</th>
                  <th>Time(s)</th>
                  <th class="d-none d-sm-block">Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="member in members">
                  <td>{{:: member.count}}</td>
                  <td><span data-toggle="tooltip" data-placement="top" title="{{:: member.countryFull }}" class="flag-icon flag-icon-{{:: member.country }}"></span></td>
                  <td>{{:: member.name }}</td>
                  <td>{{:: member.years }}</td>
                  <td>{{:: member.times }}</td>
                  <td class="d-none d-sm-block">{{:: member.notes }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <section id="announcements" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Announcements</h2>
            <p class="lead">
              Adrian "Yo A" Edgar Hands died of complications of ALS on February 3, 2011.
            </p>
            <p>
              He was a tireless bicycle advocate and 2003 Paris Brest Paris Ancien who embodied the philosophy that every ride is an adventure.
              He traveled far and wide to pursue his love of randonneuring, including brevets in China and Bulgaria.
              He successfully completed PBP in 2003 with a time of 88:55.
              His ride report of that adventure stands as one of the best accounts ever of this legendary event.
              Adrian will be dearly missed but his spirit carries on through his family, friends and La Société Adrian Hands.
              See link below for further details.
            </p>
            <a href="http://ncrandonneur.blogspot.com/2011/02/adrian-hands-rip.html">http://ncrandonneur.blogspot.com/2011/02/adrian-hands-rip.html</a>
          </div>
        </div>
      </div>
    </section>

    <section id="store">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Store</h2>
            <p class="lead">Oder cool LSAH stuff!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h3>New Merch!!</h3>
            <p class="strike">Place orders in the <a href="https://www.voler.com/custom/ordering/li/19921">Voler Store</a></p>
            <p>Orders have closed! Orders start shipping May 4th 2018.</p>
            <p>
              A Spring 2019 reorder is planned based on interest so that everyone can look their best at PBP!
              If you are interested in the 2019 order send a note to <a href="mailto:jfende@gmail.com">Cap'n John Ende</a>.
            </p>
          </div>
        </div>
        <div class="row new-merch">
          <div class="col-md-4 mx-auto">
            <img data-src="https://www.voler.com/site/assets/ImageType_Order/19921/19921_636548941054393047_300.jpg" alt="Yo A arm warmers">
          </div>
          <div class="col-md-4 mx-auto">
            <img data-src="https://www.voler.com/site/assets/ImageType_Order/19921/19921_636548940937400860_300.jpg" alt="Yo A shorts">
          </div>
          <div class="col-md-4 mx-auto">
            <img data-src="https://www.voler.com/site/assets/ImageType_Order/19921/19921_636548941209598125_560.jpg" alt="Yo A caps">
          </div>
        </div>


        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h3>Tee Shirt</h3>
            <div class="row">
              <div class="col-lg-6">
                <img class="item" data-src="/images/adrian_tshirt.jpg" alt="LSAH Jersey">
              </div>
              <div class="col-lg-6">
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="4YKVJBVR7THYS">
                  <label>Sizes
                    <select name="os0">
                      <option value="Small">Small $10.00 USD</option>
                      <option value="Medium">Medium $10.00 USD</option>
                      <option value="Large">Large $10.00 USD</option>
                      <option value="XL">XL $10.00 USD</option>
                      <option value="XXL">XXL $10.00 USD</option>
                    </select>
                  </label>
                  <input type="hidden" name="currency_code" value="USD">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" style="border-width: 0px; border-style: solid;">
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h3>Jersey</h3>
            <div class="row">
              <div class="col-lg-6">
                <img class="item" data-src="/images/lsah_jersey.jpg" alt="LSAH Jersey">
              </div>
              <div class="col-lg-6">
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="3DHAEBTP2S9EY">
                  <label>Sizes
                    <select name="os0">
                      <option value="X-Small">X-Small $75.00 USD</option>
                      <option value="Small">Small $75.00 USD</option>
                      <option value="Medium">Medium $75.00 USD</option>
                      <option value="Large">Large $75.00 USD</option>
                      <option value="XL">XL $75.00 USD</option>
                      <option value="XXL">XXL $75.00 USD</option>
                    </select>
                  </label>
                  <input type="hidden" name="currency_code" value="USD">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" style="border-width: 0px; border-style: solid;">
                </form>
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th></th>
                      <th>XXS</th>
                      <th>XS</th>
                      <th>S</th>
                      <th>M</th>
                      <th>L</th>
                      <th>XL</th>
                      <th>XXL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td scope="row"><strong>Chest</strong></td>
                      <td>34</td>
                      <td>36</td>
                      <td>38</td>
                      <td>40</td>
                      <td>42</td>
                      <td>44</td>
                      <td>46</td>
                    </tr>
                    <tr>
                      <td scope="row"><strong>Waist</strong></td>
                      <td>28</td>
                      <td>30</td>
                      <td>32</td>
                      <td>34</td>
                      <td>36</td>
                      <td>38</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td scope="row"><strong>Hips</strong></td>
                      <td>34</td>
                      <td>36</td>
                      <td>38</td>
                      <td>40</td>
                      <td>42</td>
                      <td>44</td>
                      <td>46</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Adrian Hands Society 2018</p>
      </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">LSAH Application</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" ng-controller="EmailAppCtrl">
            <form>
              <div class="form-group">
                <label>Name</label>
                <input ng-model="name" type="text" class="form-control" id="applicationName" placeholder="Enter name">
              </div>
              <div class="form-group">
                <label>Country code</label>
                <div class="block">
                  <input ng-model="country" size="2" minlength="2" maxlength="2" type="text" class="form-control country" id="applicationCountry" placeholder="Enter country code (2 letter)">
                  <div data-toggle="tooltip" data-placement="top" title="{{ window.countries[country] }}" class="flag-icon flag-icon-{{country}}"></div>
                </div>
              </div>
              <div class="form-group">
                <label>Time</label>
                <input ng-model="time" type="text" class="form-control" id="applicationTime" placeholder="Enter finishing time (HH:MM)">
              </div>
              <div class="form-group">
                <label>Year</label>
                <input ng-model="year" min="1900" type="number" class="form-control" id="applicationYear" placeholder="Enter the year">
              </div>
              <div class="form-group">
                <label>Notes</label>
                <input ng-model="notes" type="text" class="form-control" id="applicationNotes" placeholder="Enter extra notes (optional)">
              </div>
            </form>

            <div ng-if="name && country && country.length === 2 && year && time">
              <span>
                Send (copy and paste) this data to <a href="mailto:jfende@gmail.com">Cap'n John Ende</a>:
              </span>

              <pre>Hi Cap'n!
Please add me to the great LSAH list!
{
  name: "{{name}}",
  country: "{{country.toLowerCase()}}",
  years: [{{year}}],
  times: ["{{time}}"],
  notes: "{{notes}}",
  token: "4990974d150d0de5e6e15a1454fe6b0f"
},</pre>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/isInViewport.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor-keep/scrolling-nav.js"></script>
    <script src="/vendor/angular.min.js"></script>
    <script src="/data/countries.js"></script>
    <script src="/data/members.js"></script>
    <script src="/js/main.js?bust=000"></script>
  </body>
</html>
